.box-posts{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
	box-shadow: 0 4px 2px -3px gray;
	background: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 5px gray;
	width: 100%;
}


.title{
	padding-bottom:10px;
}

.select-post{
	margin-bottom: 20px;
}


.option-photo, .option-share, .option-document{
	margin-right: 20px;
	font-size: 15px;
	color:#757575;
	cursor: pointer;
}

.option-photo:hover, .option-share:hover, .option-document:hover{
	color:#ffb300;
}

#btn-post{
	background:  #e0e0e0;
	pointer-events: none;
	color: black;
	float: right;
	margin-top: 0;
	padding-top: 
}

#label-friends{
	margin-bottom: 20px;
}

#comment-txtarea{
	margin-bottom: 20px;
}

#file-image-post, #file-document-post{
	display: none;
}


.color-glyphicon{
	color: #ffb300;
}

.post-options{
	margin:0;
	padding: 0;
}

.div-image{
	height: 130px; 
	border: 1px dotted #bdbdbd;
	width: 130px; 
	margin-bottom: 20px; 
	padding: 8px; 
	display: none;
	text-align: center;
}

.div-document{
	display: none;
	margin:0;
	padding: 0;
}

.document-post{
	width: 100%;
	height: 100%;
	text-align: left;
	border-radius: 3px;
	position: relative;
	display: inline-block;
	border: 1px dotted #bdbdbd;
	margin-bottom: 20px; 
	padding: 8px; 
}

.option-delete{
	z-index: 1000; 
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%; 
	width: 100%;
	color: #fff;
}

.image-post{
	border-radius: 3px;
	width: 100%;
	height: 100%;
	object-fit: cover;	
	position: relative;
	display: inline-block;
	font-size: 0;
}

.close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: currentColor;
    font-weight: bold;
    cursor: pointer;
    opacity: .;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;

}

#close-document {
    text-align: center;
    font-size: 25px;  

}

.close:hover{
    opacity: 1;
    color: currentColor;
}

.none{
	display: none;
}

.block{
	display: block;
}