.body{
	margin:0;
	padding: 0;
	margin-top: 40px;
}

.new-image-short-event{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	margin-bottom: 30px;
	object-fit: cover;	
	position: relative;
	font-size: 0;
}

.div-short{
	display: flex;
  	justify-content: center;
  	margin: 0;
  	padding: 0;
}

.div-image-short-event{
	text-align: center;
	display: none;
	width: 140px;
	height: 140px;
	padding: 8px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-bottom: 30px;
}

.close{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: currentColor;
    font-weight: bold;
    cursor: pointer;
    opacity: .;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;

}

.close:hover{
    opacity: 1;
    color: currentColor;
}

#filePhotoShortEvent{
	display: none;
}

.label-btn-short-event{
	display: block; 
	text-align: center;
	color: #009688;
	outline: 0 none;
	text-decoration-line: none;
	margin-bottom: 30px;
}



.label-btn-short-event:hover{
	color: #ffb300;
	text-decoration-line: none;
	outline: 0 none;
}

#snackbar_shortEvent_message {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar_shortEvent_message.show_short_event{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}